// 一直旋转
.aniRotate {
    animation: rotate 5s linear infinite;
}

// 一直缩放
.aniScale {
    animation: scale 5s ease-in-out infinite;
}

// 一直上下浮动
.aniFloat {
    animation: float 3s ease-in-out infinite;
}

.hoverBig{
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
    }
}

// 角色待机缩放

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {

    0%,
    50%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(1.3);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes aniRole {

    0%,
    100% {
        transform: scaleX(1);
        transform: scaleY(1);
    }

    50% {
        transform: scaleX(1.06);
        transform: scaleY(1.02);
    }
}