.hand{
    cursor: pointer;
}


/* 大屏幕 */
@media (min-width: 576px) {
    .phone {
        display: none;
    }
    .mainP{
        padding: 0 15vw;
    }
    .gap{
        width: 100%;
        height: 240px;
    }
    .txtC{
        text-align: center;
    }
}


/* 小屏幕 */
@media (max-width: 575px) {
    .pc {
        display: none;
    }
    .mainP{
        padding: 0 30px;
    }
    .gap{
        width: 100%;
        height: 100px;
    }
}