@font-face {
    font-family: 'fontP';
    src: url('@/assets/font/Poppins_Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontS';
    src: url('@/assets/font/shuHeiTi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.fontS{
    font-family: 'fontS' !important;
}
.fontP{
    font-family: 'fontP' !important;
}