@mixin linear(
    $reverse: 0,
    $direction: right
) {
    @if $reverse == 1 {
        background: linear-gradient(to $direction, #0786FF, #D11BFF);
    } @else {
        background: linear-gradient(to $direction, #D11BFF, #0786FF);
    }
}

@mixin glass(
    $radius,
    $bg: #FFFFFF1A
){
    background: $bg;
    position: relative;
    border-radius: $radius;
}
@mixin glassBefore(
    $radius
){
    content: '';
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: $radius;
    background: linear-gradient(45deg, #FFFFFF00, #FFFFFF, #FFFFFF00);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    padding: 1px;
}